.swiper-media-main{
    /* background-color: brown; */
    position: relative;
    height: 100%;
}

.btn-next-media, .btn-prev-media{
    position: absolute;
    z-index: 100;
    top:calc(50% - 12px);
}
.btn-prev-media{
    left: 0px;
}

.btn-next-media{
    right: 0px;
}

.media-main-slide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    min-height: 100%;
}





/*may need to be moved to another file*/
main{
    display: inline-flex;
    margin-right: 16px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;

    background: var(--bg-second);
    box-shadow: var(--shadow-bg);

}

/* 
cookBtn = {
    padding: '2px 10px', 
    backgroundColor: '#4F5362', 
    color: 'text.primary', 
    textTransform: 'initial', 
    fontSize: '15px', 
    "&:hover": { 
        backgroundColor: 'primary.main', 
        color: "text.primary" 
    },

    [theme.breakpoints.down("md")]: {
        fontSize: '12px', 
        padding: '2px 5px',
        minWidth:'50px'
    },
} */


.cookLinkMainContent{
    padding: 2px 10px;
    background-color: #4F5362;
    color: #FFFFFF;
    text-transform: inherit;
    font-size: 15px;
    border-radius: 20px;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.cookLinkMainContent:hover{
    background-color: #FF7269;
    /* color: ; */
}

@media screen and (max-width:899px){
    .cookLinkMainContent{
        font-size: 12px;
        padding: 2px 5px;
        max-width: 50px;
    }
}