/* 
.swiper-recipe-list{
    max-width: 1226px;
    margin-left: 0;
    margin-right: 0;
    position: static;
    margin: 0 10px;
}


.swiper-button-disabled svg{
    color:#353842;
    cursor: auto;
}
.custom-prev-recipe-list, .custom-next-recipe-list{
    position: absolute;
    height: 24px;
    width: 24px;
    top:calc(50% - 12px);
    cursor: pointer;
}


.custom-prev-recipe-list {
    left: 0px; 
}

.custom-next-recipe-list {
    right: -5px; 
}
 */
