/* .step-media-main-slide-video{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.step-media-main-slide{
    max-height: 700px;
    
}
.swiper-step-media-main{
    position: relative;
}


 */
.swiper-step-media-main {
    /* width: min(calc(90vw - 70px), calc((100vh - 20%) * 9 / 16)); */
    width: clamp(200px, min(calc(80vw - 70px), calc((100vh - 25%) * 9 / 18)), 700px);
    aspect-ratio: 9 / 16;
    /* max-width: 400px; */
    margin: 0 auto;
}
 /* .swiper-step-media-main{
    margin-left: inherit;
    margin-right: inherit;
    margin: 0 auto;
    width: calc(100vh * 9 / 16);
    aspect-ratio: 9 / 16;
} */

/* .swiper-step-media-main .swiper-wrapper{ */
    /* height: inherit; */
/* } */
.btn-next-step-media, .btn-prev-step-media{
    position: absolute;
    z-index: 100;
    top:calc(50% - 12px);
}
.btn-prev-step-media{
    left: 0px;
}

.btn-next-step-media{
    right: 0px;
}

.swiper-step-media-main .swiper-slide{
    height: auto;
}

.step-media-main-slide-video, .step-media-main-slide{
    max-width: 100%;
    /* max-height: 700px; */
    background-color: #000;
    /* height: auto !important; */
    /* min-height: 700px; */

    
}